@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;

}

* {
    margin: 0;
    padding: 0;

}

nav {
    font-family: 'Varela Round', sans-serif;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img {
    width: 44px;
    padding: 0 8px;

}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
}